.scrolling_image_with_text--inner {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  border-radius: 20px;
  position:relative;
  min-height:466px;
}
.scrolling_text--inner {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.scrolling_text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 49px 82px;
  z-index:0;
}
.scrolling-text--heading {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
}
span.scrolling_text_hover--inner {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
}
.scrolling_text_hover{
  display:flex;
}
.scrolling_text--hover {
  font-weight: 700;
  font-family: var(--font-heading-family) !important;
}
.scrolling_text--para {
  line-height: 24px;
}
span.scrolling_text--hover:hover {
  background: linear-gradient(90deg, #FDE276 0%, #000000 100%);
  -webkit-text-fill-color: transparent;
}
a.scrolling_text--button{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  min-width:216px;
}
.extra_image--main {
  position: relative;
  display: inline-block;
}


.extra_image {
  position: relative;
  width: auto;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  height: 60px;
}
.extra_hover_image {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 60px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}
@media screen and (min-width: 750px){
  .extra_image--main:hover .extra_image {
    opacity: 0;
  }
 
  .extra_image--main:hover .extra_hover_image {
    opacity:1;
  }
}
#bg-image {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 366px;
  position: absolute;
  right: 0;
  top: 0;
  animation: diagonal-scroll 10s infinite linear;
  border-bottom-right-radius: var(--border-radius-large);
  border-top-right-radius:var(--border-radius-large);
}
#bg-image-mob{
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 466px;
  background-position: right top 0;
}
@keyframes diagonal-scroll {
  0% {
    background-position: top 10% left 700px;
  }
  100% {
    background-position: bottom 15% left 250px;
  }
}
@media screen and (max-width: 989px) {
  .mobile-hide{
    height:0;
    visibility:hidden !important;
    display:none;
  }
}
@media screen and (max-width: 989px) {
  .scrolling_image_with_text--inner-mob {
    display: flex;
    align-items: start;
    gap: 20px;
    width: 100%;
    border-radius: 20px;
    flex-direction: column;
    position: relative;
  }
  .extra_image{
    opacity:0;
  }
  .extra_hover_image{
    opacity:1;
  }
  .scrolling_text{
    position:absolute;
    bottom:0;
    padding:20px 20px 30px 20px;
  }
}
 @media screen and (max-width: 989px) {
  .scrolling_text_hover-end {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-wrap: wrap;
  }
  .scrolling_text--inner{
    max-width:100%;
  }
  img.star_image {
    width: 55px;
    height: 55px;
  }
  span.scrolling_text_hover--inner {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 989px) {
  .scrolling_text {
    padding: 0px;
    position: relative;
  }
  .bg-image-mobile {
    height: 350px;
    width: 100%;
  }
  .bg-image-mobile img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  span.scrolling_text_hover--inner, .scrolling_text_hover-end, .scrolling-text--heading{
    gap:0px;
    align-items:center;
  }
  .scrolling_image_with_text--inner-mob{
    padding: 25px 25px 32px 25px;
    border: 2px solid rgba(var(--color-outline-button-border));
  }
  .h3.scrolling_text--hover {
    font-size: 24px;
  }
  .scrolling_text--para p {
    font-size: 13px;
  }
}

 .tab-container {
    display: flex;
    padding:30px;
    position:relative;
  }
  .main_head {
    position:relative;
    padding: 24px 0;
  }
  .main_head::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 2px;
    background: #000000;
    border-radius: 2px;
  }
  .main-tab__menus {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    padding-bottom: 24px;
  }
  .main-tab__menus::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 2px;
    background: #000000;
    border-radius: 2px;
  }
  .small_content{
    font-size:12px;
    text-transform: uppercase;
    margin:24px 0 8px 0;
    font-weight: normal;
    font-family: var(--font-body-family);
    color:rgba(var(--color-foreground), .4);
  }
  .tab-menu {
    width: 20%;
    min-width: 300px;
    border-right: 2px solid rgba(var(--color-outline-button-border), .5);
    padding:0 24px;
    /* background:#3C352F; */
    min-height:1253px;
    height:100%;
    position: sticky;
    top: 0;
    padding-bottom: 30px;
  }
  .tab-link {
    padding: 10px;
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    color:#000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:12px;
    font-size:14px;
    font-family:var(--font-body-family);
  }
  .tab-link .left_icon_text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:12px;
    font-size:14px;
  }
  .tab-link .arrow_down{
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
  }
  .tab-link .left_icon_text svg {
    width: 20px;
    height: 20px;
  }
  .tab-link .arrow_down svg {
    width: 12px;
    height: 12px;
  }
  .tab-link.active .arrow_down {
    display: block;
  }
  .tab-link.active {
    font-weight: bold;
    background: #453E39;
    padding: 15px 10px;
    border-radius: 8px;
  }
  .tab-content {
    flex-grow: 1;
    padding: 20px 22px;
    display: flex;
    flex-direction: column;
    gap: 57px;
    /* background:#3C352F; */
    margin-left:8px;
    border:2px solid rgba(var(--color-outline-button-border), .5);
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-top:0;
    padding-bottom:65px;
    min-height:1550px;
  }
  .tab-panel {
    display: none;
  }
  .tab-panel.active {
    display: block;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 18px;
  }
  .tab-panel--main-heading{
    min-width:max-content;
    width:max-content;
    padding:8px 18px;
    box-shadow: 0 3px 4px -1px rgba(var(--color-outline-button-border));
  }
  .sub-tab-container {
    margin-top: 12px;
    margin-left: 15px;
    padding: 0 10px;
  }
  .sub-tab-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 12px;
    padding-bottom: 5px;
  }
  .sub-tab-link {
    padding: 15px 10px;
    border: none;
    background: none;
    cursor: pointer;
    color:#000000;
    font-family:var(--font-body-family);
  }
  .sub-tab-link.active {
   font-weight:bold;
    background: #453E39;
    padding: 15px 10px;
    border-radius: 8px;
  }
  .sub-tab-submenu-container{
    margin-top: 12px;
    margin-left: 15px;
    padding: 0 10px;
  }
  .sub-tab-submenu{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 12px;
    padding-bottom: 5px;
  }
  .sub-tab-submenu-link {
    padding: 15px 10px;
    border: none;
    background: none;
    cursor: pointer;
    color:#000000;
    font-family:var(--font-body-family);
    position:relative;
  }
  .sub-tab-submenu-link.active {
   font-weight:bold;
    background: #453E39;
    padding: 15px 10px;
    border-radius: 8px;
  }
   .sub-tab-submenu .sub-tab-submenu-link::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 15px;
    height: 65%;
    border-left: 3px solid #000000;
    border-bottom: 2px solid #000000;
    border-bottom-left-radius: 10px;
  }

  .sub-tab-submenu .sub-tab-submenu-link::after {
   content: "";
    position: absolute;
    left: -20px;
    bottom: -4px;
    width: 2px;
    height: 84%;
    background: #000000
  }

  .sub-tab-submenu .sub-tab-submenu-link:last-child::after {
    display: none; 
  }
  .sub-tab-content {
    margin-top: 10px;
  }
  .sub-tab-panel {
    display: none;
  }
  .sub-tab-panel.active {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sub-tab-panel__list{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 20px;
  }
  .sub-tab-menu {
    position: relative;
    list-style: none;
    padding-left: 30px; 
  }

  .sub-tab-menu .sub-tab-link {
    position: relative;
    padding: 15px;
    min-width: 172px;
    text-align: left;
  }

  .sub-tab-menu .sub-tab-link::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 15px;
    height: 65%;
    border-left: 2px solid #000000;
    border-bottom: 3px solid #000000;
    border-bottom-left-radius: 10px;
  }

  .sub-tab-menu .sub-tab-link::after {
   content: "";
    position: absolute;
    left: -20px;
    bottom: -4px;
    width: 2px;
    height: 84%;
    background: #000000
  }
  .sub-tab-menu .sub-tab-link:last-child::after {
    display: none; 
  }
  .sub-tab-panel__list li {
    line-height: 22px;
    font-family:var(--body-font-family);
  }
  .position_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50px;
    left: 322px;
    background:rgb(var(--color-background), .8);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    padding:2px;
    box-shadow: 0 5px 10px -1px rgba(var(--color-outline-button-border));
  }
  .position_arrow svg {
    width: 16px;
    height: 16px;
  }
  .tab-menu.show {
    padding:0;
    width:0;
    min-width:0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height .3s ease-in-out, padding .3s ease-in-out;
  }
  .tab-content.show {
    margin: 0;
  }
  .position_arrow.button--outline.active_arrow {
    left: 1%;
    top: 4%;
  }
  .active_arrow {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}
.scrolling_text {
  padding:45px;
}
@keyframes diagonal-scroll {
  0% {
    background-position: top 10% left 500px;
  }
  100% {
    background-position: bottom 15% left 230px;
  }
}

@media screen and (max-width: 989px) {
  .tab-container{
    flex-direction: column;
    background: #3c352f;
    padding:0;
  }
  .tab-menu{
    width:100%;
    min-width:100%;
    border: 1px solid #797979b3;
    position: relative;
    padding:0px 24px;
  }
  .main_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:17px 0;
  }
  .main_head:before{
    width:0;
  }
  .main_head.show:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 2px;
  }
  .main_head_svg {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(var(--color-background), .8);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 5px 10px -1px rgba(var(--color-outline-button-border));
  }
  .main-tabs.show {
    opacity: 1;
    visibility: visible;
    height: auto;
    min-height: 686px;
    padding-bottom:30px;
  }
  .tab-content {
    margin-left: 0;
    border-top-right-radius: 0;
    background: transparent;
    border: 0;
    padding:0px;
    gap:0;
  }
  .scrolling_image_with_text {
    border-bottom: 1px solid #797979b3;
    background: #2a1a15;
  }
  .scrolling_image_with_text--radius {
    padding: 30px 24px;
  }
  #bg-image-mob{
    border: 2px solid rgba(var(--color-outline-button-border), .5);
    border-radius: 22px;
  }
  .main-tabs {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }
  .tab-menu{
    min-height:auto;
    height:max-content;
  }
  .main-tab__menus:before {
    width:100%;
  }
  .tab-panel.active {
    background: #3c352f;
    padding: 30px 24px 45px;
  }
  .main_head.show .main_head_svg .menu_svg {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .main_head .main_head_svg .arrow_down_svg {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .main_head.show .main_head_svg .arrow_down_svg {
    opacity: 1;
    visibility: visible;
    height: auto;
    width: auto;
    transform: rotate(90deg);
  }
}

@media screen and (max-width: 989px) {
  .scrolling_text {
    padding: 0px;
    position: relative;
  }
  .bg-image-mobile {
    height: 350px;
    width: 100%;
  }
  .bg-image-mobile img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  span.scrolling_text_hover--inner, .scrolling_text_hover-end, .scrolling-text--heading{
    gap:0px;
    align-items:center;
  }
  .scrolling_image_with_text--inner-mob{
    padding: 25px;
    border: 1px solid rgba(var(--color-outline-button-border));
  }
  .h3.scrolling_text--hover {
    font-size: 24px;
  }
  .scrolling_text--para p {
    font-size: 13px;
  }
}